body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/008/426/215/non_2x/beautiful-meteor-shower-in-the-dark-sky-background-free-vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.title {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 30%;
  top: 1%;
  font-size: 600%;
}
.price_per_item {
  background-color: rgb(251, 214, 214);
  border: solid;
  border-color: azure;
  position: absolute;
  left: 5%;
  top: 25%;
  font-size: 200%;
  border-radius: 5px;
  width: 21%;
  height: 16%;
  margin-left: 2.3%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: opacity 0.2s;
  display: inline;
}

.price_per_item:hover {
  opacity: 0.84;
}
.price_per_item:active {
  opacity: 0.7;
}

.sales_tax_calculator {
  background-color: rgb(207, 244, 244);
  border: solid;
  border-color: azure;
  position: absolute;
  left: 37.5%;
  top: 25%;
  font-size: 240%;
  border-radius: 5px;
  width: 21%;
  height: 16%;
  margin-left: 40px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: opacity 0.2s;
  display: inline;
}

.sales_tax_calculator:hover {
  opacity: 0.84;
}
.sales_tax_calculator:active {
  opacity: 0.7;
}

.simp_comp_interest_calculator {
  display: inline;
  background-color: rgb(195, 247, 205);
  border: solid;
  border-color: azure;
  position: absolute;
  left: 70%;
  top: 25%;
  font-size: 200%;
  border-radius: 5px;
  width: 21%;
  height: 16%;
  margin-left: 40px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: opacity 0.2s;
  display: inline;
}

.simp_comp_intrest_calculator:hover {
  opacity: 0.84;
}
.simp_comp_intrest_calculator:active {
  opacity: 0.7;
}

.ratio {
  background-color: rgb(249, 248, 196);
  border: solid;
  border-color: azure;
  position: absolute;
  left: 5%;
  top: 61%;
  font-size: 40px;
  border-radius: 5px;
  width: 21%;
  height: 16%;
  margin-left: 2.3%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: opacity 0.2s;
  display: inline;
}

.ratio:hover {
  opacity: 0.84;
}
.ratio:active {
  opacity: 0.7;
}

.discount_calculator {
  background-color: rgb(249, 248, 196);
  border: solid;
  border-color: azure;
  position: absolute;
  left: 37.5%;
  top: 61%;
  font-size: 40px;
  border-radius: 5px;
  width: 21%;
  height: 16%;
  margin-left: 2.3%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: opacity 0.2s;
  display: inline;
}

.discount_calculator:hover {
  opacity: 0.84;
}
.discount_calculator:active {
  opacity: 0.7;
}




/* From Uiverse.io by gharsh11032000 */ 
.github {
  position: absolute;
  top: 90%;
  left: 87%;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.github::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.github::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.github:hover::after {
  filter: blur(30px);
}

.github:hover::before {
  transform: rotate(-180deg);
}

.github:active::before {
  scale: 0.7;
}


